body{
	background: rgb(30,37,47); /* For browsers that do not support gradients */
	background-image:url(images/black-linen.png), -webkit-linear-gradient(left top, rgb(30,37,47),rgb(43,50,60)); /* For Safari 5.1 to 6.0 */
	background-image:url(images/black-linen.png), -o-linear-gradient(bottom right, rgb(30,37,47),rgb(43,50,60)); /* For Opera 11.1 to 12.0 */
	background-image:url(images/black-linen.png), -moz-linear-gradient(bottom right, rgb(30,37,47),rgb(43,50,60)); /* For Firefox 3.6 to 15 */
	background-image:url(images/black-linen.png), linear-gradient(to bottom right, rgb(30,37,47),rgb(43,50,60)); /* Standard syntax */
	font-family: 'Cardo';
}

/*Banner*/

.banner {
	width:43%;
	color:rgb(255,255,255);
}

.grant{
	font-size:10pt;
	margin:0;
	padding:0;
	color:rgb(150,150,150);	
	text-decoration: none;
}

.grant a:hover{
opacity: 0.7;
}

.overlay{
opacity: 0;
transition: 1s ease-in-out;
transform: translate(7%, -10%);
}

.banner:hover .overlay{
opacity: 1;
}

.logo {
	float:right;
	height:80%;
	width:80%;
	padding:20px;
	margin: -6.5% 20% 0 0;
}

.logo_text {
	float:right;
	height:150%;
	width:150%;
	padding:0 px;
	margin: -37% -130% 0 0;
}

/*Main Divs*/
.main_current{
	background-color:rgba(49,100,100,0.3);
	font-color:white;
	float:right;
	position:absolute;
	height:500px;
	top:12.5em;
	right:0;
	bottom:5px;
	left:20%;
	padding:10px;
	margin:50px;
	opacity: 0;
	-webkit-animation-name: main_fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: main_fadein;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

.main_contact{
	background-color:rgba(49,100,100,0.3);
	font-color:white;
	float:right;
	position:absolute;
	height:900px;
	top:12.5em;
	right:0;
	bottom:0;
	left:20%;
	padding:10px;
	margin:50px;
	opacity: 0;
	-webkit-animation-name: main_fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: main_fadein;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

.main_pastprojects{
	background-color:rgba(49,100,100,0.3);
	font-color:white;
	float:right;
	position:absolute;
	height:1000px;
	top:12.5em;
	right:0;
	bottom:0;
	left:20%;
	padding:10px;
	margin:50px;
	opacity: 0;
	-webkit-animation-name: main_fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: main_fadein;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

.main_index{
	background-color:rgba(49,100,100,0.3);
	font-color:white;
	float:right;
	position:absolute;
	height:1200px;
	top:12.5em;
	right:0;
	bottom:0;
	left:20%;
	padding:10px;
	margin:50px;
	opacity: 0;
	-webkit-animation-name: main_fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: main_fadein;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
} 

@-webkit-keyframes main_index_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_index_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
} 

.main_mission{
	background-color:rgba(49,100,100,0.3);
	font-color:white;
	float:right;
	position:absolute;
	height:500px;
	top:12.5em;
	right:0;
	bottom:0;
	left:20%;
	padding:10px;
	margin:50px;
	opacity: 0;
	-webkit-animation-name: main_fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: main_fadein;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
} 


.main_support{
	background-color:rgba(49,100,100,0.3);
	font-color:white;
	float:right;
	position:absolute;
	height:1800px;
	top:12.5em;
	right:0;
	bottom:0;
	left:20%;
	padding:10px;
	margin:50px;
	opacity: 0;
	-webkit-animation-name: main_fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: main_fadein;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

.main_support1{
	background-color:rgba(49,100,100,0.3);
	font-color:white;
	float:right;
	position:absolute;
	height:500px;
	top:12.5em;
	right:0;
	bottom:0;
	left:20%;
	padding:10px;
	margin:50px;
	opacity: 0;
	-webkit-animation-name: main_fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: main_fadein;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

.main_upcoming{
	background-color:rgba(49,100,100,0.3);
	font-color:white;
	float:right;
	position:absolute;
	height:500px;
	top:12.5em;
	right:0;
	bottom:0;
	left:20%;
	padding:10px;
	margin:50px;
	opacity: 0;
	-webkit-animation-name: main_fadein;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-name: main_fadein;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes main_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

/*Nav for index*/

.nav_index{
	font-family: 'Cardo';
	font-size: 22px;
	text-decoration:none;
	transition: font-size 1s;
	opacity: 0;
	-webkit-animation-name: nav_fadein;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-name: nav_fadein;
	animation-duration: 2s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes nav_fadein{
	from{opacity: 0;}
	to{opacity: 100;}
}

@keyframes nav_fadein{
	from{opacity: 0;}
	to{opacity: 100;} 
}

.nav_index a:link{
	color:rgb(89,74,65);
	text-decoration:none;
}

.nav_index a:visited{
	color:rgb(89,74,65);
	text-decoration:none;
}

.nav_index a:hover{
	color:rgb(145,16,28);
	text-decoration:none;
	font-size: 150%;
}

.nav_index a:active{
	color:rgb(89,74,65);
	text-decoration:none;
}

.nav_index a.current{
	color:rgb(145,16,28);
	font-size: 150%;
}
	
.nav_index a{
display:block;
list-style-type:none;
text-decoration:none;
margin:0;
font-size:30px;
margin-bottom: 8px;
margin-left: 3%;
}
/*Nav for pages minus index*/

.nav{
	width:20%;
	font-family: 'Cardo';
	font-size: 22px;
	text-decoration:none;
	transition: font-size 1s;
}

.nav a:link{
	color:rgb(89,74,65);
	text-decoration:none;
}

.nav a:visited{
	color:rgb(89,74,65);
	text-decoration:none;
}

.nav a:hover{
	color:rgb(145,16,28);
	text-decoration:none;
	font-size: 150%;
}

.nav a:active{
	color:rgb(89,74,65);
	text-decoration:none;
}

.nav a.current{
	color:rgb(145,16,28);
	font-size: 150%;
}

.nav a{
display:block;
list-style-type:none;
text-decoration:none;
margin:0;
font-size:30px;
margin-bottom:8px;
margin-left: 15%;
}

	
/*Main style*/	
.title{
	font-weight:bold;
	font-size:18pt;
	margin:0;
	color:rgb(200,200,200);
	text-align:center;
}

.subtitle{
	font-weight:500;
	font-size:15pt;
	margin:0;
	color:rgb(200,200,200);
}

.subtitle a{
	font-weight:500;
	font-size:15pt;
	margin:0;
	color:rgb(200,200,200);
	text-decoration: none;
}

.subtitle a:hover{
	opacity: 0.5;
}

.slideshow_title{
	position:absolute;
	top:700px;
}
	
.myslides{
	height:600px;
	width:800px;
	position:absolute;
	top:0%;
	right:0%;
	bottom:0%;
	left:0%;
	display:none;
	margin:2% auto 2% auto;
}

.slideshow{
	max-width:600px;
	margin:0;
}

	
.text{
	font-size:15pt;
	margin:0;
	color:rgb(150,150,150);	
}
	
.text ul{
	list-style:none;
	padding-left:0;
	margin:0;
	text-align:center;
}
		
.text a{
	color:rgb(150,150,150);
	text-decoration:none;
	margin:0;
}
		
.text a:hover{
	opacity: 0.7;
}

.quote{
	font-size:15pt;
	font-style:italic;
	margin:10px 0 0 0;
	color:rgb(150,150,150);
}

.author{
	font-size:13pt;
	margin:0 0 0 5%;
	color:rgb(150,150,150);
}

.blist{
	font-size:15pt;
	margin:0;
	color:rgb(150,150,150);
}	
.blist ul{
	list-style:normal;
	margin:0;
}
		
.fsection{ 
	margin:0 0 20px 0;
}
		
.msection{
	margin:20px 0 20px 0;
}
		
.lsection{
	margin:20px 0 0 0;
}

.headshots{
	width:10%;
	height:auto;
	float:left;
	padding:0 10px 0 0;
}

.contact_headshots{
	display:block;
	width:10%;
}

.poster{
	width:700px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
